#define WB_WIFI_SSID "myssid"
#define WB_WIFI_PASSWORD "mypassword"
#define WB_MQTT_BROKER_URI "mqtt://192.168.1.100:1883"
#define WB_MQTT_USER ""
#define WB_MQTT_PASSWORD ""
#define WB_LOG_TCP_PORT 8080
